@font-face {
  font-family: "iconfont"; /* Project id 3167328 */
  src: url('//at.alicdn.com/t/font_3167328_21phwq5130t.woff2?t=1643604811592') format('woff2'),
       url('//at.alicdn.com/t/font_3167328_21phwq5130t.woff?t=1643604811592') format('woff'),
       url('//at.alicdn.com/t/font_3167328_21phwq5130t.ttf?t=1643604811592') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 32px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon_bilibili:before {
  content: "\e600";
}

