@font-face {
  font-family: "iconfont"; /* Project id 3167328 */
  src: url('//at.alicdn.com/t/font_3167328_wbpdpddjdb.woff2?t=1643621431964') format('woff2'),
       url('//at.alicdn.com/t/font_3167328_wbpdpddjdb.woff?t=1643621431964') format('woff'),
       url('//at.alicdn.com/t/font_3167328_wbpdpddjdb.ttf?t=1643621431964') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 32px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-github-alt:before {
  content: "\e6a8";
  /* 修改颜色 */
 /* color: blue;*/
  /* 修改大小 */
  font-size: 22px;
}

.icon-email:before {
  content: "\e63f";
}

.icon-icon_bilibili:before {
  content: "\e600";
}
