@font-face {
  font-family: "iconfont"; /* Project id 3167328 */
  src: url('//at.alicdn.com/t/font_3167328_tfa9cf31ek8.woff2?t=1643610393068') format('woff2'),
       url('//at.alicdn.com/t/font_3167328_tfa9cf31ek8.woff?t=1643610393068') format('woff'),
       url('//at.alicdn.com/t/font_3167328_tfa9cf31ek8.ttf?t=1643610393068') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 32px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-socialgithuboutline:before {
  content: "\e8fd";
  /* 修改颜色 */
 /* color: blue;*/
  /* 修改大小 */
  font-size: 26px;
}

.icon-email:before {
  content: "\e63f";
}

.icon-icon_bilibili:before {
  content: "\e600";
}
